body{
    margin: 0px;
    font-family: sans-serif;
}

.header,
.footer{
    display: flex;
    background-color: pink;
    align-items: center;
    font-size: 18px;
}

.header{
    justify-content: space-between;
    padding: 0em 5em;
}

.main-link{
    font-size: 24px;
    font-weight: bolder;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 1em;
}

.content-1{
    display: flex;
}

.footer{
    justify-content: center;
    padding: 2em;
}

a {
    text-decoration: none;
    color: black;
}