body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 18px;
}

.header,
.footer{
    display: flex;
    background-color: pink;
    align-items: center;
}

.header{
    justify-content: space-between;
    padding: 0em 300px;
}

.main-link{
    font-size: 24px;
    font-weight: bolder;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 1em;
}

.container-1{
    color: pink;
    display: flex;
    align-items: center;
    padding: 8em 300px;
    gap: 4em;
    background-color: purple;
}

h1{
    font-size: 48px;
    font-weight: 800;
}

button{
    font-size: 18px;
    font-weight: bold;
    background-color: pink;
    border: 1px solid black;
    padding: 8px 30px;
    border-radius: 10px;
    white-space: nowrap;
}

.container-2{
    display: flex;
    padding: 50px 300px;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

h2{
    font-size: 36px;
    font-weight: 800;
}

.container-2 ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    list-style: none;
    padding-left: 0px;
    align-content: center;
}

.container-2 ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2em;
}

.box{
    width: 300px;
    height: 300px;
    border: 5px solid purple;
    border-radius: 20px;

}

.footer{
    justify-content: center;
    padding: 2em;
}

a {
    text-decoration: none;
    color: black;
}